

welcome{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 100vh;
justify-items: center;
align-items: center;
}

#esoco{
overflow-y: auto;
overflow-y: scroll;
height: 29%;
position: relative;
background-color: blanchedalmond;
}

