<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link  defer href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.12.0/riot.min.js"  charset="utf-8"></script>
    <link  defer rel="stylesheet" href="/client/www.css" type="text/css" />
    <script defer src="/server/components/bloqueo.js" charset="utf-8" ></script>
  </head>
  <body>
    <h1>Esta la forma de como entrar a tu dashboard</h1>
      <h2>pero tambien es la forma de como la gente se enterea de que puede tener esta website</h2>
      <h3>Asi que sos el dueño o quieres volverte el dueño?</h3>
      {{ renderHere | safe }}
  </body>
</html>
